@import "var.scss";

.singer-album {
  margin-top: $header-height;
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: $theme-background-color;

  &::before {
    /*背景*/
    content: "";
    background-color: #e6ecf0;
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height + 150px;
  }
}

/*左*/
.album-slide {
  float: left;
  width: 400px;

  .singer-img {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    top: -100px;
    left: 50px;
    border-radius: 10%;
    overflow: hidden;
    border: 5px solid $color-white;
    background-color: $color-white;
    img {
      width: 100%;
    }
  }

  .info {
    color: $color-black;
    font-size: 18px;
    font-weight: 500;
    margin-top: -50px;
    margin-left: 60px;
    padding: 0px 20px 0px 20px;
    width: 200px;
    border-left: 2px solid #000;
    li {
      width: 100%;
      height: 40px;
    }
  }
}

/*右*/
.album-content {
  margin-left: 300px;
  padding: 40px 60px 120px 100px;
  border-radius: 10px;
  background: -webkit-linear-gradient(bottom,#0F2027,#203A43,#2C5364);
  .intro {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 10px 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #e96443,#904e95) 10;
    border-image-slice: 0 0 100% 0;
    border-style: solid;
    span {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .content {
    margin-top: 50px;
  }
}

